body {
    margin: 0;
}

#header {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    padding-left: 100px;
    height: 50px;
    line-height: 50px; 
    background-color: #ffc83d;
}

#header img {
    height: 32px;
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
}

#header p {
    display: inline;
}

#content {
    margin: 50px 100px 0px 100px;
}

#intro {
    margin: 0px 300px 0px 300px;
}

h1 {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
}

#titre {
    margin-bottom: 50px;
}

#titre_galerie {
    margin: 100px 0 50px 0;
}

#galerie {
    text-align: center;
}

p {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

.img {
    height: 400px;
    margin: 0 30px 30px 0;
    padding: 5px;
    border: 20px solid black;
}

.img:hover {
    opacity: 0.7;
}

#footer {
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

.footer_img {
    height: 100px;
    opacity: 0.2;
    padding: 0 10px 10px 0;
}