body {
    margin: 0;
}

h1, p, li {
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

#page-content {
    position: relative;
    min-height: 100vh;
}

#header {
    height: 60px;
    line-height: 60px; 
    background-color: #ffc83d;
}

#header img {
    margin: 0 0 0 100px;
    height: 40px;
    vertical-align: middle;
}

#header p {
    float: right;
    margin: 0 100px 0 0;
}

#navbar {
    float: left;
}

#navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#navbar li {
    display: inline;
    margin-right: 20px;
}

#navbar a {
    color: black;
    text-decoration: none;
}

#navbar a:hover {
    color: white;
}

#gallery {
    margin-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#gallery a {
    display: block;
    height: 450px;
}

.gallery-img-frame {
    display: inline-block;
    position: relative;
    width: auto;
    height: 450px;
    margin: 0 30px 30px 0;
}

.gallery-img-frame:hover .gallery-img {
    opacity: 0.3;
}

.gallery-img-frame:hover .caption {
    opacity: 1;
}

.gallery-img {
    height: 400px;
    padding: 5px;
    border: 20px solid black;
}

.caption {
    color: black;
    opacity: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    margin: 0;
    display: block;
}

#bio-container {
    margin: 100px auto 100px auto;
    width: 800px;
}

#profile-img {
    display: block;
    margin: 0 auto 30px auto;
    width: 200px;
    border-radius: 50%;
}

#profile-text {
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer td {
    width: 100%;
}

#footer p {
    margin: 30px auto 30px auto;
    font-size: 12px;
}

#footer-a {
    display: block;
    height: 70px;
}

#footer img {
    float: right;
    height: 60px;
    opacity: 0.2;
    padding: 0 80px 10px 0;
}

#footer img:hover {
    opacity: 0.15;
}

.fullscreen-img-container {
    overflow: hidden;
}

.fullscreen-img-frame {
    height: 95vh;
    width: 100vw;
    text-align: center;
    white-space: nowrap;
}

.fullscreen-img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fullscreen-img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.fullscreen-img-toolbar {
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    background-color: #ffc83d;
}

.home-button {
    height: 4vh;
    vertical-align: middle;
}

.left-arrow-box {
    float: left;
}

.arrow {
    height: 4vh;
    vertical-align: middle;
}

.right-arrow-box {
    float: right;
}

#temp-dark-bcgd {
    background-color: black;
}

#temp-dark-p {
    display: inline-block; 
    margin: 50px 0 0 50px;
    color: red;
    font-weight: 100;
    font-size: 24px;
}

#hidden-text {
    display: inline;
    display: inline-block; 
    margin: 50px 0 0 10px;
    font-weight: 100;
    font-size: 24px;
}

@media only screen and (max-width:1000px) {
    #header img {
        margin-left: 40px;
    }

    #header p {
        margin: 0 40px 0 0;
    }

    #footer img {
        padding: 0 40px 10px 0;
    }
}

@media only screen and (max-width:875px) {
    #header img {
        margin-left: 30px;
    }

    #header p {
        display: none;
    }

    #gallery {
        margin: 50px auto 0 auto;
        width: 550px;
    }

    #gallery a {
        height: auto;
        width: 100%;
    }

    .gallery-img-frame {
        position: static;
        width: 100%;
        height: auto;
        margin: 0 0 30px 0;
    }

    .gallery-img {
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }

    .caption {
        position: static;
        opacity: 1;
    }

    #bio-container {
        box-sizing: border-box;
        margin-top: 50px;
        padding: 0 30px 0 30px;
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    p {
        font-size: 12px;
    }

    #header img {
        margin-left: 20px;
    }
    
    #gallery {
        margin: 50px 20px 0 20px;
        width: auto;
    }

    .gallery-img {
        border: 15px solid black;
    }

    #bio-container {
        padding: 0 20px 0 20px;
    }

   
    #footer img {
        padding: 10px 20px 10px 20px;
        height: 40px;
    }

    #footer p {
        margin-top: 20px;
        font-size: 10px;
    }
}

@media only screen and (max-width:400px) {
    #header li {
        font-size: 12px;
    }

    #footer img {
        padding: 10px;
        height: 30px;
    }

    #footer p {
        margin: 10px auto 20px auto;
        font-size: 8px;
    }
}

@media only screen and (max-width:320px) {
    #header img {
        display: none;
    }
}

