body {
  margin: 0px;
  overflow-y: hidden;
  color: black;
  text-align: center;
}

h1 {
  position: absolute;
  width: 100%;
  z-index: 1;
  font-size: 32pt;
}

a {
  position: fixed;
  left: 0;
  top: 100px;
  width: 100%;
  z-index: 1;
  font-size: 16pt;
  text-decoration: none;
}

#scene-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
